/*
** import bootstrap functions for bootstrap variables to work
 */
@import "node_modules/bootstrap/scss/functions";
/*
** import variables
 */
@import "src/assets/scss/abstract/variables";
/*
** import bootstrap css
 */
@import "node_modules/bootstrap/scss/bootstrap";
/*
** import bootstrap vue css
 */
@import "node_modules/bootstrap-vue/src/index";
/*
** import vue animated css
 */
$animationDuration: 0.6s;
@import "node_modules/vue2-animate/src/sass/vue2-animate";
/*
 ** import other sass files
 */

/*
 ** Fonts
 */

@font-face {
  font-family: "Barcelony";
  src: url("~assets/fonts/Barcelony.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*
** components
 */
@import "~assets/scss/components/header";
@import "~assets/scss/components/footer";
@import "~assets/scss/components/textImage";
@import "~assets/scss/components/faqs";
@import "~assets/scss/components/home";
@import "~assets/scss/components/helfer";
@import "~assets/scss/components/tafeln";
@import "~assets/scss/components/stage";

/*
 ** Heading Font Weight
 */

h1 {
  font-weight:  $h1-font-weight;
}
h2 {
  font-weight:  $h2-font-weight;
}
h3 {
  font-weight:  $h3-font-weight;
}
h4 {
  font-weight:  $h4-font-weight;
}
h5 {
  font-weight:  $h5-font-weight;
}
h6 {
  font-weight:  $h6-font-weight;
}

/*
 ** Border width
 */

.border-1, .bt-1, .br-1, .bb-1, .bl-1 {
  border-width: ($spacer * .125) !important;
}

.border-2, .bt-2, .br-2, .bb-2, .bl-2 {
  border-width: ($spacer * .25) !important;
}

.border-3, .bt-3, .br-3, .bb-3, .bl-3 {
  border-width: ($spacer * .5) !important;
}

.border-4, .bt-4, .br-4, .bb-4, .bl-4 {
  border-width: ($spacer * .625) !important;
}

.border-5, .bt-5, .br-5, .bb-5, .bl-5 {
  border-width: ($spacer * .75) !important;
}

/*
 ** Cursor
 */

.cursor-pointer {
  cursor: pointer;
}

/*
 ** Page Layout
 */

.content {
  margin-top: 4.5rem;
  margin-bottom: 5rem;

  @media (min-width: 576px) {
    margin-top: 7rem;
  }
}
