.stage {
  .catchPhraseContainer {
    .catchPhrase {
      hr {
        margin-right: 20%;
      }
    }
  }

  .stage-image-container {
    background: url("~assets/images/background-hero.svg");
    background-size: 100% 100%;

    .stageImageOne {
      position: absolute;
      max-height: 13rem;
      z-index: 5;
    }

    .stageImageTwo {
      position: absolute;
      max-height: 13rem;
      z-index: 10;
    }
  }
}

@media (min-width: 992px) {
  .stage {
    .catchPhraseContainer {
      margin-top: 7rem;
    }

    .stage-image-container {
      min-height: 35rem;

      .stageImageOne {
        top: 7rem;
        left: 1rem;
      }

      .stageImageTwo {
        top: 15rem;
        left: 11rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .content.container {
    margin-top: 0 !important;
    padding: 0 !important;
  }
  .stage {
    padding: 4.5rem 0 0;
    background-color: $tertiary;

    .catchPhraseContainer {
      padding-left: 1rem;
      .catchPhrase {
        hr {
          margin-right: 20%;
        }

        h2, p {
          color: $white !important;
        }
      }
    }

    .mobileStage {
      margin-top: 2rem;
      background: $white;

      .stage-image-container {
        min-height: 30rem;
        margin-top: -3rem;

        .stageImageOne {
          max-height: none;
          height: auto;
          top: 1rem;
          left: 10%;
          width: 80%;
        }

        .stageImageTwo {
          max-height: none;
          height: auto;
          top: 11rem;
          left: 15%;
          width: 70%;

        }
      }
    }
  }
}
