.stage {
  margin-top: 5rem;
  .stage-image-container {
    background: url(" ~assets/images/background-hero.svg");
    background-size: 100% 100%;
    .stageImageOne {
      position: absolute;
      max-height: 13rem;
      z-index: 5;
    }

    .stageImageTwo {
      position: absolute;
      max-height: 13rem;
      z-index: 10;
    }
  }
}

@media (min-width: 992px) {
  .stage {
    .col-lg {
      width: 50%;
    }
    .catchPhraseContainer {
      margin-top: 7rem;
    }

    .stage-image-container {
      min-height: 35rem;

      .stageImageOne {
        top: 21%;
        left: -6%;
      }
    }

    .stageImageTwo {
      top: 49%;
      right: 0;
    }
  }
}

@media (max-width: 991px) {
  .stage {
    margin-top: 1rem;
    padding: 6.5rem 0 0;
    background-color: $tertiary;

    .row-full{
      width: 100vw;
      position: relative;
      margin-left: -50vw;
      margin-top: 100px;
      left: 50%;
    }
    .catchPhraseContainer {
      padding-left: 1rem;

      .catchPhrase {
        h2, p {
          color: $white !important;
        }
      }
    }

    .mobileStage {
      margin-top: 2rem;
      background: $white;

      .stage-image-container {
        min-height: 50rem;
        margin-top: -3rem;

        .stageImageOne {
          max-height: none;
          height: auto;
          top: 3%;
          left: 10%;
          width: 80%;
        }

        .stageImageTwo {
          max-height: none;
          height: auto;
          top: 45%;
          left: 15%;
          width: 70%;

        }
      }
    }
  }
}
@media (max-width: 820px) {
  .stage {
    .mobileStage {
      .stage-image-container {
        min-height: 47rem;
      }
    }
  }
}
@media (max-width: 767px) {
  .stage {
    .mobileStage {
      .stage-image-container {
        min-height: 42rem;
      }
    }
  }
}
@media (max-width: 640px) {
  .stage {
    .mobileStage {
      .stage-image-container {
        min-height: 37rem;
      }
    }
  }
}
@media (max-width: 575px) {
  .stage {
    padding: 4.5rem 0 0;
    .mobileStage {
      .stage-image-container {
        min-height: 32rem;
      }
    }
  }
}
@media (max-width: 420px) {
  .stage {
    padding: 4.5rem 0 0;
    .mobileStage {
      .stage-image-container {
        min-height: 25rem;
      }
    }
  }
}
@media (max-width: 370px) {
  .stage {
    padding: 4.5rem 0 0;
    .mobileStage {
      .stage-image-container {
        min-height: 22rem;
      }
    }
  }
}

