.faqs {
  margin-bottom: 30px;
  .faqs-tablist {
    width: 90%;
    margin: 0 auto 15px;
    .card {
      border: none;
      border-bottom: 1px solid $gray-600;
      border-radius: 0;
      header {
        cursor: pointer;
      }
    }
  }
  .faq-icon {
    position: absolute;
    right: 30px;
    top: 14px;
    font-size: 24px;
  }
}